In [1]:
print(2 ** 8)

256

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({ 'A' : 1.,
                        'B' : pd.Timestamp('20190102'),
                        'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                        'D' : np.array([3] * 4, dtype='int32'),
                        'E' : pd.Categorical(["car","cat","cam","cap"]),
                        'F' : 'foobar' })

ModuleNotFoundError: No module named 'pandas'

In [10]:
df

     A          B    C  D    E       F
0  1.0 2019-01-02  1.0  3  car  foobar
1  1.0 2019-01-02  1.0  3  cat  foobar
2  1.0 2019-01-02  1.0  3  cam  foobar
3  1.0 2019-01-02  1.0  3  cap  foobar